/* style.css */

/* Set the canvas element to be the full size of the container */
canvas {
    width: 100%;
    height: 100%;
}

/* Center the canvas element on the page */
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    color: green;
}

h1{
    color: white;
}


#canvas-container {
    width: 100%;
    height: 600px;
}

.start-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 50px;
  width: 120px;  /* Fixed width for both buttons */
}

.start-button:hover {
  background-color: #cc0000;
}

.minor-section {
    background-color: rgba(0, 0, 0, 0.8);  /* Black background with 80% opacity */
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    color: white;  /* Make text white for better contrast */
}

h2 {
    color: #ff0000;  /* Match the red from your button */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  /* Add subtle text shadow */
}

p {
    line-height: 1.6;  /* Improve text readability */
}